.card-body .card-text {
  padding: 10px;
  max-height: 100px;
  overflow-y: scroll;
}

.card .card-img-top {
  height: 300px;
}

.card {
  height: 85vh !important;
  margin-bottom: 10px;
  position: relative;
}

.card a {
  position: absolute;
  left: 2%;
  bottom: 1%;
}

.card-text::-webkit-scrollbar {
  width: 5px;
}
.card-text::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.card-text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card .price {
  position: absolute;
  right: 2%;
  bottom: 0%;
}
